*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at top, #190a24 , #5417c4)
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 300px;
    margin-top: -100px;
}

.title{
    margin-bottom: 30px;
    font-size: 70px;
    background: -webkit-linear-gradient(#2b2b2bb2, #7c7c7ccb , #faf9f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-input{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-url{
    padding: 12px 20px;
    text-align: center;
    outline: transparent;
    width: 40%;
    border-radius: 50px;
    font-size: 20px;
    color: #1e272e;
}

.button{
    padding: 15px 20px;
    width: 170px;
    margin-left: 10px;
    border-radius: 40px;
    font-size: 20px;
    color: black;
}
.btn1{
    background-color: #ffd32a;
}
.btn2{
    background-color: #e41304fa;
}
.btn1:hover{
    transition: .5s;
    background-color: #8f7614;
}
.btn2:hover{
    transition: .5s;
    background-color: #b12b21bb;
}

.linkIcon{
    font-size: 35px;
    margin-left: 10px;
}

